@import '@/styles/breakpoint.scss';

.item-card {
	margin: 0 0.25rem;
	flex: 0 0 auto;
	align-self: flex-start;

	@include media('<600px') {
		width: calc(100% - 7rem);
	}

	@include media('>=600px') {
		width: calc(50% - 3.75rem);
	}

	@include media('>=900px') {
		width: calc(33.33% - 2.667rem);
	}

	@include media('>=1200px') {
		width: calc(25vw - 2.125rem);
	}

	@include media('>=1500px') {
		width: calc(20% - 1.8rem);
	}

	@include media('>=1800px') {
		width: calc(16.667% - 1.5833rem);
	}

	@include media('>=2100px') {
		width: calc(14.286% - 1.4286rem);
	}

	@include media('>=2300px') {
		width: calc(12.5% - 1.3125rem);
	}

	&:first-child {
		margin-left: 3rem;
	}

	&:last-child {
		box-sizing: content-box !important;
		padding-right: 2.75rem;
	}

	&__img {
		width: 100%;
		height: 100%;
	}
}
