@import '@/styles/breakpoint.scss';

.item-card {
	width: 300px;
	margin: 0 0.25rem;
	flex: 0 0 auto;

	@include media('<600px') {
		width: calc(100% - 6rem);
	}

	@include media('>=600px') {
		width: calc(50% - 3.25rem);
	}

	@include media('>=900px') {
		width: calc(33.33% - 2.33rem);
	}

	@include media('>=1200px') {
		width: calc(25% - 1.875rem);
	}

	@include media('>=1500px') {
		width: calc(20% - 1.6rem);
	}

	@include media('>=1800px') {
		width: calc(16.667% - 1.4167rem);
	}

	@include media('>=2100px') {
		width: calc(14.286% - 1.2857rem);
	}

	@include media('>=2300px') {
		width: calc(12.5% - 1.1875rem);
	}

	&:first-child {
		margin-left: 3rem;
	}

	&:last-child {
		padding-right: 2.75rem;
	}

	&__img {
		width: 100%;
		height: 100%;
	}
}
